<%- include ('../templates/header') %>
<div class="container mt-4 mx-auto">
  <div class="flex">
    <div class="w-8/12 shadow-lg rounded p-5 bg-gray-400">
      <form action="<%= baseUrl %>/books/create" method="post">
        <div class="mb-3">
          <label for="title" class="block text-xs mb-2 text-gray-600"
            >Title</label
          >
          <input
            class="bg-gray-100 text-gray-700 rounded border-none px-3 h-10 w-full focus:outline-none"
            type="text"
            name="title"
          />
        </div>
        <div class="mb-3">
          <label for="isbn" class="block text-xs mb-2 text-gray-600"
            >ISBN</label
          >
          <input
            class="bg-gray-300 text-gray-700 rounded border-none px-3 h-10 w-full focus:outline-none"
            type="text"
            name="isbn"
          />
        </div>
        <div class="mb-3">
          <label for="author" class="block text-xs mb-2 text-gray-600"
            >Author</label
          >
          <input
            class="bg-gray-300 text-gray-600 rounded border-none px-3 h-10 w-full focus:outline-none"
            type="text"
            name="author"
          />
        </div>
        <div class="mb-3">
          <label for="publisher" class="block text-xs mb-2 text-gray-600"
            >Publisher</label
          >
          <input
            class="bg-gray-300 text-gray-600 rounded border-none px-3 h-10 w-full focus:outline-none"
            type="text"
            name="publisher"
          />
        </div>
        <div class="mb-3">
          <label for="released" class="block text-xs mb-2 text-gray-600"
            >Released</label
          >
          <input
            class="bg-gray-300 text-gray-600 rounded border-none px-3 h-10 w-full focus:outline-none"
            type="date"
            name="released"
          />
        </div>
        <div class="mb-3">
          <label for="stock" class="block text-xs mb-2 text-gray-600"
            >Stock</label
          >
          <input
            class="bg-gray-100 text-gray-600 rounded border-none px-3 h-10 w-full focus:outline-none"
            type="number"
            name="stock"
          />
        </div>
        <div class="mb-3">
          <label for="cover" class="block text-xs mb-2 text-gray-600"
            >Cover</label
          >
          <input
            class="bg-gray-300 text-gray-600 rounded border-none px-3 h-10 w-full focus:outline-none"
            type="file"
            name="cover"
          />
        </div>
        <div class="mt-5 mb-3">
          <button
            type="submit"
            class="rounded bg-blue-400 p-2 mx-auto text-white hover:bg-blue-700"
          >
            Save
          </button>
        </div>
      </form>
    </div>
    <div class="w-4/12 shadow-lg ml-5">
      <div class="rounded p-5">
        <img src="/assets/images/ali.jpg" alt="" srcset="" />
      </div>
    </div>
  </div>
</div>
