<%- include ('../templates/header') %> <%- include ('../templates/navbar') %>
<div class="flex container mx-auto mt-5 ">
  <div class="shadow-lg p-5 rounded">
    <%= JSON.stringify(book.title) %>
  </div>
</div>
<%- include ('../templates/footer') %>