<%- include ('../templates/header') %> <%- include ('../templates/navbar') %>
<div class="container">
  <form action="<%= baseUrl %>/auth %>" method="POST">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" name="password" id="password">
    </div>
    <button type="submit">Login</button>
  </form>
</div>