<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof tittle != 'undefined' ? title : 'Node Perpus' %></title>
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
  </head>
  <body>
    <nav class="bg-blue-700 text-white p-5 border-b-2 shadow-lg">
      Hallo ini daftar buku
    </nav>

